<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<div class="home">
    <h1>Bienvenue sur notre site</h1>
    <p>Choisissez une option pour continuer :</p>

    <!-- Bouton pour se diriger vers la page de login -->
    <a href="login.html" class="button login">Se connecter</a>

    <!-- Bouton pour se diriger vers la page de register -->
    <a href="register.html" class="button register">Créer un compte</a>

    </div>
    </form>
</div>
</body>
</html>